/node_modules
/jspm_packages
/dist
/build
/out
/.next
/.nuxt
/.vuepress/dist
/.svelte-kit
/storybook-static
*.tsbuildinfo
.eslintcache
.env
.env.local
.env.*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
*.log
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/
*.swp
*.swo
*.swo
.DS_Store
Thumbs.db
ehthumbs.db